[Desktop Entry]
Name=Firefox config for US Government DOD
Encoding=UTF-8
Exec=firefox-usgov-dod-cfg-gui.pl
Comment=setup cacard and load CA certs in a firefox profile
# Comment[jbo@Latn]=coirodo
# PATH=~/.firefox/
Type=Application
Categories=Utility;Settings;Security;GTK;
Terminal=false
